@font-face {
  font-family: pricedown;
  src: url("/fonts/pricedown.ttf");
           }

@import url("https://fontsapi.zeoseven.com/442/main/result.css");

@font-face {
    font-family: 'OPPO Sans';
    font-display: swap;
    src: url('https://code.oppo.com/content/dam/oppo/common/fonts/font2/new-font/OPPOSansOS2-5000-Regular.woff2') format('woff2');
}